# dependencies for project

## venv
uv.lock

# cache files
__pycache__/

# data files
data/
features.parquet

# model files

## model checkpoints
checkpoints/
*.ckpt
*.pt
*.pth

## logs
lightning_logs/
